VITE_SUPABASE_URL=
VITE_SUPABASE_PUBLISHABLE_KEY=
VITE_BATTLE_WS_URL=ws://127.0.0.1:8787/battle
VITE_CHAOS_DEV_MULTIPLAYER_TOKEN=
CHAOS_DEV_MULTIPLAYER_TOKEN=
CHAOS_GATEWAY_PORT=8788
CHAOS_REALTIME_PORT=8787
